div.ml(layout="row" layout-align='center center')
    a.btn(target='_blank' href="http://www.yelp.com" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/yelp.png" style='opacity:.9')
    a.btn(target='_blank' href="https://www.youtube.com" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/youtube.png" style='opacity:.9')
    a.btn(target='_blank' href="https://www.facebook.com" style='margin:0px 4px;max-width:100%')
        img.header-social-img(width="26px" height="26px" src="../img/social/color/fb.png" style='opacity:.9')
    a.btn(target='_blank' href="https://www.linkedin.com" style='margin:0px 4px;max-width:100%')
        img(width="26px" height="26px" src="../img/social/color/linkedin.png" style='opacity:.9')

