a.display-block.fs-headline.head-ad.tc-grey-800(ui-sref="app.demographics" style='cursor:pointer')
    | Call us today! &nbsp
    span.fs-title.tc-red-800.sv-color-8(style='font-size:24px')
        i.fa.fa-phone.fa-fw
        | 909-123-4567
