div
    span.fs-headline.tc-grey-700.mr( ng-if="type==='community'")
        i.mr.mdi.mdi-city
        | Community Event
    span.fs-headline.tc-grey-700.mr( ng-if="type==='connection'")
        i.mr.mdi.mdi-briefcase-check
        | Business Event
    span.fs-headline.tc-grey-700.mr( ng-if="type==='public'")
        i.mr.fa.fa-users
        | Public Event
