.card
    div(class='p+ mb')
        span.display-block.fs-caption {{feedback.timestamp|date}}
        span.display-block.fs-subhead {{feedback.company}}
        span.display-block.fs-body-1 {{feedback.body}}
    div(class='pl pr pb mb')
        div(ng-if='user.isManager() || feedback.authorKey==user.key' class='mt')
            button.btn.btn--xs.btn--white.tc-teal-300.btn--raised.ml.mr(lx-ripple='' ng-click='editFeedback()')
                i.fa.fa-pencil.fa-fw &nbsp
                | Edit
            button.btn.btn--xs.btn--white.tc-red-300.btn--raised.ml.mr(lx-ripple='' ng-click="removeSvFeedback(feedback)"  sv-confirm-deletion='feedback')
                i.fa.fa-trash.fa-fw &nbsp
                | Delete
