md-bottom-sheet.md-list.md-has-header.bgc-grey-800(class='pt+')
    span.display-block.fs-subhead.bgc-grey-800.mb(style='color:#999999 !important; margin-bottom:0px') Our Social Media
    md-divider(style='border-top-color:#888888 !important' class='mb')
    div(layout='row' layout-align='start center')
        md-item
            a.btn.btn--flat(target='_blank' href='http://www.yelp.com' style='margin:2px')
                img.header-social-img(src='../img/social/color/yelp.png')
        md-item
            a.btn.btn--flat(target='_blank' href='https://www.youtube.com' style='margin:2px')
                img.header-social-img(src='../img/social/color/youtube.png')
        md-item
            a.btn.btn--flat(target='_blank' href='https://www.facebook.com' style='margin:2px')
                img.header-social-img(src='../img/social/color/fb.png')
        md-item
            a.btn.btn--flat(target='_blank' href='https://www.linkedin.com' style='margin:2px')
                img.header-social-img(src='../img/social/color/linkedin.png')
