div(layout='column' class='pl+ pr+')
    sv-profile-title(header-title="{{calendarTitle}}")
    sv-svet-events-calendar()
    span.display-block.fs-headline.mt.mb(class='mb++') {{'upcoming-events'|translate}}
    sv-afisha-events-tabs
