div(layout='column' class='mb ml mr')
    div(layout='row' class='mb ml mr')
        sv-profile-title(header-title="Albums" class='ml mr mb+')
    div(layout='row' class='mb ml mr' layout-align='space-between center')
        sv-sidenav-ad(album-title="Album Title" album-url="app.events.one-event-gallery" album-body="Any info..." album-img="https://s3-us-west-2.amazonaws.com/chicagopics/chicago-view-color.jpg")
